<header class="Dashboard-header" id="MyHeader">
    <div class="card">
        <h2 class="Dashboard-text"><a href="#" class="Dashboard-links">Dashboard</a></h2>
    </div>
    <div class="card">
        <h2 class="Dashboard-text"><a class="Dashboard-links" href="#">Second</a></h2>
        <h2 class="Dashboard-text"><a class="Dashboard-links" href="#">third</a></h2>
        <h2 class="Dashboard-text"><a class="Dashboard-links" href="#">fourth</a></h2>
    </div>
    <a href ="javascript:void(0);" class="icon" onclick="navFunction()">
        &#9776; <!---hamburger icon --->
    </a>


</header>
